html,
body {
  margin: 0;
  padding: 0;
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  padding: 10px;
  background: black;
}

input {
  position: absolute;
  opacity: 0;
  left: -1000px;
  height: 0;
  width: 0;
}
